body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.verse {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
    overflow-y: auto; /* Enable scrolling if content overflows */
    max-height: 70vh; /* Set a maximum height for the box */
}

.verse h2 {
    margin-top: 0;
}

.chapter-content {
    text-align: left; /* Align chapter content to the left */
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.read-more {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.read-more:hover {
    background-color: #218838;
}

/* Toggle button container */
.toggle-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.toggle-container label {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.toggle-container input {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .verse {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }

    .toggle-container {
        flex-direction: column;
        gap: 5px;
    }
}
